:root {
    --lightgrey: #F1F5F8;
    --grey: #3B4C6A;
    --white: #fff;
    --pink: #D345A7;
}

* {
    box-sizing: border-box;
}

body {
    /* Golden ratio */
    width: 389px;
    /* height: 250px; */
    margin: 0;
}

h1, h2, p, a {
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 28px;
    line-height: 1.3;
}

#root {
    width: 100%;
    height: 100%;
}

/* Basic Popup Styles */

.popup {
    --subline-opacity: 0.6;
    background-color: var(--lightgrey);
    color: var(--grey);
}

/* Success Variation */
.popup-success {
    --subline-opacity: 0.7;
    background-color: var(--pink);
    color: var(--white);
}

.hero {
    display: flex;
    align-items: center;
    padding: 32px;
}

.hero-icon {
    flex: 0 0 auto;
    color: currentColor;
    margin-right: 32px;
    overflow: visible;
}

/* Subline */

.subline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 24px;
}

.made-by {
    opacity: var(--subline-opacity);
    display: flex;
    align-items: center;
}

.made-by svg {
    margin-left: 8px;
}

.report-link {
    font-size: 12px;
    opacity: var(--subline-opacity);
    color: inherit;
    transition: opacity .2s linear;
}

.report-link:hover {
    opacity: 0.8;
}

/* APIs */

.apis {
    padding: 0 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.api {
    border-radius: 5px;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    padding: 8px 12px;
    color: var(--pink);
    font-size: 18px;
    text-overflow: ellipsis;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F7F8 100%);
    box-shadow: 0px 9px 42px rgba(59, 76, 106, 0.08),
        0px 2.71px 12.66px rgba(59, 76, 106, 0.05),
        0px 1.13px 5.26px rgba(59, 76, 106, 0.04),
        0px 0.41px 1.9px rgba(59, 76, 106, 0.028);
}

.api + .api {
    margin-top: 12px;
}